- if @results && @results.category_groups.size > 0
  %h1= "Hela webbplatsen"
  %ul
    %li{ class: (@results.category_all.current? ? "current" : nil)}
      %a{ href: "#{settings.app_path}?#{@results.category_all.query}" } Totalt
      %span.hits= "(#{@results.category_all.hits})"
  - @results.category_groups.each do |category_group|
    %h1= category_group.title
    %ul
      - category_group.categories.each do |category|
        %li{ class: (category.current? ? "current" : nil)}
          %a{ href: "#{settings.app_path}?#{category.query}" }= category.title
          %span.hits= "(#{category.hits})"
