= form_tag(search_path, method: "get", id: "full-search") do
  %fieldset
    = label_tag "q", "#{h1} ", class: "control-label"
    .input-group
      = text_field_tag :q, @terms, { placeholder: "Ange ett eller flera sökord", class: "q form-control",
        data: { "autocomplete-url" => search_autocomplete_path,
        "images-url" => root_path[0..-2],
        "caller" => "Fullpage" },
        "autocapitalize" => "off", "autocorrect" => "off"}
      %span.input-group-btn
        = submit_tag "Sök", { class: "btn btn-default", name: nil }
