- if @results.sorting.size > 0
  %ul.menu.sort
    %li.label Sortera efter
    - @results.sorting.each_with_index do |entry, i|
      %li
        = succeed separator(i, @results.sorting.count) do
          - if entry.query
            %a{ href: "#{settings.app_path}?#{entry.query}" }= entry.text.downcase
          - else
            %span.current= entry.text.downcase

- unless @results.entries.empty?
  %p.filter
    %a{ href: "#filter"}= "Filtrera"
