- cache ["search-results", params], expires_in: 12.hour do
  - title "Sök på malmo.se"
  %section.site-search.body-copy
    .search-and-results
      %h1= h1
      = render "form"
      - if @error.present?
        .error= "Ett fel inträffade (#{@error})"
      - if @results.present?
        = render "summary"
        = render "sort"
        - if @results.category_groups.present?
          %p.filter= link_to "Filtrera", "#filter"
        = render "suggestions"
        %section.results
          %ul
            = render "recommendations"
            = render "editors_choice"
            = render "results"
    = render "categories"
