- cache ["search-results", params], expires_in: (@error.present? ? 0 : 12.hour) do
  - title "Sök på malmo.se"
  %main{ role: "main"}
    .search-and-results
      %h1.body-copy= h1
      = render "form"
      - if @error.present?
        .error= "Ett fel inträffade med SiteSeeker"
      - elsif @results.present?
        = render "summary"
        = render "sort"
        - if @results.category_groups.present?
          %p.filter= link_to "Filtrera", "#filter"
        = render "suggestions"
        %section.recommendations
          %ul
            = render "recommendations"
        %section.results
          %ol
            = render "editors_choice"
            = render "results"
    - unless @error.present?
      = render "categories"
