= simple_form_for @recommendation, html: { class: "form-horizontal" } do |f|
  = f.error_notification class: "warning"

  .form-inputs
    = f.input :name, input_html: { class: "input-wide" }
    = f.input :link, input_html: { class: "input-wide" }

    %h2.form-group-title Sökord
    .terms
      = f.simple_fields_for :terms do |t|
        = t.input :_destroy, as: :hidden
        = f.input :term, label: false, wrapper: :append do
          = f.input_field :name
          %button.btn
            %span.icon-remove
      .control-group
        .controls
          %button.btn
            %span.icon-plus Lägg till

  .control-group
    .controls
      = f.button :submit, :class => 'btn-primary'
      = link_to t('actions.cancel'), recommendations_path, class: "btn"
