= simple_form_for @recommendation, html: { class: "form-horizontal" } do |f|
  = f.error_notification class: "warning"

  .form-inputs
    = f.input :name, input_html: { class: "input-wide" }
    = f.input :link, input_html: { class: "input-wide" }
    = f.input :term_list, input_html: { "data-load" => @recommendation.terms.map{ |term| { id: term.name, name: term.name }}.to_json, class: "input-wide" }

  .control-group
    .controls
      = f.button :submit, :class => 'btn-primary'
      = link_to t('actions.cancel'), recommendations_path, class: "btn"
