= simple_form_for @recommendation, html: { class: "form-horizontal", id: "edit-recommendation" } do |f|
  = f.error_notification class: "warning"

  .form-inputs
    = f.input :name, input_html: { class: "input-wide" }
    = f.input :link, input_html: { class: "input-wide" }
    = f.input :image, as: :image_preview, input_html: { preview_version: :thumb }

    %h2.form-group-title Sökord
    .terms
      = f.simple_fields_for :terms do |t|
        = render "fields_for_terms", t: t
      .control-group
        .controls
          = add_terms_button "Lägg till", f

  .control-group
    .controls
      = f.button :submit, :class => 'btn-primary'
      = link_to t('actions.cancel'), recommendations_path, class: "btn"
