= simple_form_for @recommendation, html: { class: "form-horizontal" } do |f|
  = f.error_notification class: "warning"

  .form-inputs
    = f.input :name, input_html: { class: "input-wide" }
    = f.input :link, input_html: { class: "input-wide" }
    = f.simple_fields_for :terms do |t|
      = t.input :_destroy, as: :hidden
      = f.input :name, wrapper: :append do
        = f.input_field :name
        %button.btn.add-on.icon-trash



  .control-group
    .controls
      = f.button :submit, :class => 'btn-primary'
      = link_to t('actions.cancel'), recommendations_path, class: "btn"
