%section.site-search.body-copy
  .search-and-results
    %h1= "Sök på malmo.se"
    = partial :form
    - if @error
      .error= "Ett fel inträffade med Euroling Siteseeker (#{@error})"
    - else
      = partial :summary
      = partial :sorting
      = partial :suggestions

      %section.results
        %ul
          = partial :editors_choice
          = partial :results

  = partial :categories unless @error
