!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'robots', content: 'noindex, nofollow' }
    %title= "#{APP_CONFIG['title_suffix']} – Sök"
    /[if IE]
      %meta{ "http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
    /[if lte IE 8]
      = javascript_include_tag "#{APP_CONFIG['assets_url_base']}html5shiv-printshiv.js"
    = stylesheet_link_tag "#{APP_CONFIG['assets_url_base']}malmo.css", media: 'all'
    = stylesheet_link_tag 'application', media: 'all'
    /[if lte IE 8]
      = stylesheet_link_tag "#{APP_CONFIG['assets_url_base']}legacy/ie8.css", media: 'all'
    %noscript= stylesheet_link_tag "#{APP_CONFIG['assets_url_base']}icons.fallback.css", media: 'all'
    %link{ rel: 'icon', type: 'image/x-icon', href: "#{APP_CONFIG['assets_url_base']}favicon.ico" }
    = csrf_meta_tags
  %body.mf-v4{ class: @body_classes }
    - if current_user
      %nav.app
        = link_to "Rekommendationer", recommendations_path
        = link_to "Sökord", terms_path
        = link_to "#{current_user.name}", users_path, class: "username"
        = link_to "Logga ut", logout_path, class: "logout"
    .wrapper
      = render "layouts/breadcrumbs"
      - flash.each do |key, value|
        %p{ class: "flash #{key}" }= value
      = yield
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'
    = javascript_include_tag 'application'
